.breadcrumb {
    background-color: rgb(12, 2, 17);
    color: white;
}

.breadcrumb-item a {
    color: white;
}

.py-4 {
    background-color: rgb(19, 5, 27);
    padding: 30px;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
}
.a{
    color: white;
}
.a:hover{
    text-decoration: none;
    color:white;
    font-size: 16px;
}